.grid{
	width:100%;
	height: 600px;
	float:left;
	box-sizing: border-box;
}

.box {
	width: 30.9%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	background-color: orange;
	margin: 1em;
	padding:0;
}

.inbox1{
	width:92%;
	height:284px;
	float:left;
	background-color: green;
}

.inbox2{
	width:92%;
	height:284px;
	margin-top:2em;
	float: left;
	background-color: green;
}

.inbox3{
	margin:1em;
	width:42%;
	float:left;
	height:276px;
	background-color: green;
}

.inbox4{
	margin:1em;
	width:92%;
	height:260px;
	float:left;
	background-color: green;
}

.inbox5{
	margin:1em;
	width:42%;
	height:260px;
	background-color: green;
	float:left;
}

.inbox6{
	width:46%;
	height:260px;
	background-color: green;
	float:right;
}

.inbox7{
	width:42%;
	height:260px;
	background-color: green;
	float:right;
	margin-top:4em;
	margin-right:1em;
}

.inbox8{
	width:46%;
	height:260px;
	background-color: green;
	float:left;
	margin-top:3em;
}

@media screen and (max-width: 768px) {
	.box{
		width:100%;
	}
}
